

<!doctype html>
<html lang="en">
  <head>
    <title>Gadgets & Gaming</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--font-->
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Kanit|Russo+One" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  </head>
    <body>
        <section>
            <br>

<div class="col-sm-2" style="margin-left: 8%;">
    <a href="../index.html">
        <i class="fas fa-arrow-left"></i>
        <small style="font-size: 20px">Back</small>
    </a>
</div>
    <div class="col-lg-12 text-center">
            <img src="../img/tech logo.png">
            <br>
            <div class="container">

            <p class="text-muted text-center description">
                An amazing collection of gadgets for hardcore gamers. <br> Discover the latest products on the professional gaming field!</p>
        </div>
    </div>
<br>
<div class="container">
        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/81wIDMUfNKL._AC_.jpg" style="height: 200px">
                <div class="card-body">
                        <br>
                <p class="card-text">DualShock 4 Wireless Controller for PlayStation 4 - Blue Camouflage by Sony
                    </p>
                <p class="card-text text-muted">$46.96</p>
                <br>
                <a href="https://www.amazon.com/gp/product/B07GQ61M42/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B07GQ61M42&linkId=7eaa2e109859c514c47beee25937e43b">               
                     
                        <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
            
                    </a> 
                </div>
            </div>
            <div class="card">
                <span class="imgspan" style="background-color: blueviolet">Best</span>
                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/71sqi3xfjNL._SY679_.jpg" style="width: 240px">
                <div class="card-body">
                <p class="card-text">Licensed Marvel Avengers Captain America Racing Style Video Gaming Chair with Headrest and Lumbar Support

                </p>
                <p class="card-text text-muted">$228.00</p>
                <a href="https://www.amazon.com/gp/product/B076XVCJ44/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B076XVCJ44&linkId=e3caf5b836bc04bcdaf4ee53d53e6b88">
                <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
                </a>
                </div>
            </div>
            <div class="card">
                    <span class="imgspan" style="background-color: orangered">Few</span>
                    <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/71xSJoog7OL._AC_.jpg" alt="Best Selle">
                    <div class="card-body">
                      <p class="card-text">PlayStation 4 Slim 1TB Console by Sony&reg;</p>
                      <h5 style="font-family: 'Russo One', sans-serif; color: blueviolet">Only 5 left in stock</h5>
                      <p class="card-text text-muted"><strike>$390.00</strike><br>$299.95</p>
                      <a href="https://www.amazon.com/gp/product/B074LRF639/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B074LRF639&linkId=43710f625c23a8259155fde598240c06">
                      <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
                    </a>
                    </div>
                  </div>
        </div>
        <div class="card-group">
                <div class="card">    
                        <span class="imgspan" style="background-color: blueviolet; color: white">Best</span>
                  
                      <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/71DvG2FjM%2BL._SX679_.jpg" alt="Best Seller">
                      <div class="card-body">
                        <p class="card-text">Gamer Xtreme Desktop Gaming PC (Intel i5-8400 6 Core Processor, AMD RX 580 4GB, 8GB DDR4 RAM, 1TB 7200RPM HDD, WiFi, Win 10 Home 64-bit), Black - VR Ready</p>
                          <h5 style="font-family: 'Russo One', sans-serif; color: blueviolet">Only 19 left in stock</h5>
                        <p class="card-text text-muted">$899.00</p>
                        <a href="https://www.amazon.com/gp/product/B0757DVF4Z/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B0757DVF4Z&linkId=250062de8e9bb10f9706b9c4208137f5">
                            <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>

                        </a>
                        
                      </div>
                    </div>

        <div class="card">
            

                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/71NUV6ge3zL._AC_.jpg"  style="height: 230px" alt="Card image cap"> 
                <div class="card-body">           
                    <p class="card-text">Silicone Cover Skin Case for Sony PS4/slim/Pro Dualshock 4 controller x 1(red) With Pro thumb grips x 8</p>
                    <p class="card-text text-muted">$10.99</p>
                    <a href="https://www.amazon.com/gp/product/B078M62RGB/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B078M62RGB&linkId=91e88de8da6f7bfae66a083828abcee4">
                    
                    <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>

                    </a>
                    </div>
                
                </div>
                <div class="card">
                        <span class="imgspan">Hot</span>
                        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51OVQQ3EpIL._SL1002_.jpg" style="height: 210px" alt="Best Seller">
                        <div class="card-body">
                          <p class="card-text">Arozzi Arena Gaming Desk - 6 Colors</p>
                          <p class="card-text text-muted"><strike>$488.95</strike><br>$399.00</p>
                          <br>
                          <a href="https://www.amazon.com/gp/product/B01K1JW1L0/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B01K1JW1L0&linkId=dcdee48303a5b56e17c3a616807cdcfd">
                              <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
                            </a>
                        </div>
                      </div>
              </div>
              <div class="card-group">
                    <div class="card">
                    <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/61AeAGzXDmL._AC_.jpg" style="height: 230px" alt="Card image cap"> 
                    <div class="card-body">           
                      <p class="card-text">2 Set PS4 Controller Skin Sticker Nebular Vinly Decal Cover for Sony PlayStation
                        </p>
                      <p class="card-text text-muted">$8.99   
                        </p>
                      <a href="https://www.amazon.com/gp/product/B07GNB3YZ6/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B07GNB3YZ6&linkId=2552128ab9b787d93a4c849b438bdf48">
                      <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
                    </a>
     
                      </div>
                  
                    </div>
            <div class="card">
                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51Qp5ocaWtL.jpg" style="height: 230px" alt="Card image cap"> 
                    <div class="card-body">           
                        <p class="card-text"> Bottom Shell Back Housing Case Cover Replacement Parts for PS4 - 10 COLORS 
                        </p>
                        <p class="card-text text-muted">$15.15</p>                    
                        <a href="https://www.amazon.com/gp/product/B07G42H6KR/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B07G42H6KR&linkId=c81daaba46f38f2e55adb12514104e23">

                    <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
                </a>

                </div>
                    
            </div>

            
                <div class="card">
                        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/91%2BAdYFRLAL._SX679_.jpg" alt="Card image cap"> 
                        <div class="card-body">           
                            <p class="card-text">Extended Mouse pad - Curve Design Gaming Mouse pad - Stitched Edges & Skid Proof Rubber Base
                            </p>
                            <p class="card-text text-muted">$13.99 </p>
                            <a href="https://www.amazon.com/gp/product/B07CWB25MD/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B07CWB25MD&linkId=d8a6fd3a72409bfffa25c595b30e9802">
                            <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
                        </a>
                            </div>
                        
                        </div>
                  </div>
                  <div class="card-group">
                        <div class="card">
                        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/61TXdHNZYrL._SX679_.jpg" alt="Card image cap"> 
                        <div class="card-body">           
                          <p class="card-text">   
                             </p>
                          <p class="card-text text-muted">$15.99</p>
                          <a href="https://www.amazon.com/gp/product/B07J38YBL3/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B07J38YBL3&linkId=d75ba1ca4d75bf9cf4ae80657667b898">
                          <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
                        </a>

                          
                    </div>
                
                </div>
    
        <div class="card">

                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/71TPIqgvSBL._SX679_.jpg" alt="Card image cap"> 
                <div class="card-body">           
                    <p class="card-text">Skin Silicon Gel 3D Mouse Pad -Ergonomic Mouse pad with Wrist Support
                    </p>
                    <p class="card-text text-muted">$24.99 </p>
                    <a href="https://www.amazon.com/gp/product/B0773FGLM7/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B0773FGLM7&linkId=3641041309ccab08daa14e694c761585">
                    <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
                </a>
                    </div>
                
                </div>

                <!--edit-->

            <div class="card">

                    <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/81Ja-ZLmVML._SX679_.jpg" style="width: 290px; height: 160px" alt="Card image cap"> 
                    <div class="card-body">     
                            <br>          
                        <p class="card-text">Extended Mouse Pad Large Gaming Mouse Pad XXL Desk Pad Desktop Pad Non-Slip Rubber Base 
                        </p>
                        <br><br>
                        <p class="card-text text-muted">$12.98 </p>
                        <a href="https://www.amazon.com/gp/product/B0719KX1G3/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B0719KX1G3&linkId=95fc6a2360f24d479ed9111ae2f29df1">
                        <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
                    </a>
                        </div>
                    
                    </div>
                </div>
                <div class="card-group">
                    <div class="card">
                    <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/91jbIkLDwsL._SX679_.jpg">
                        <div class="card-body">           
                        <p class="card-text">Limited Edition League of Legends Collectible Million Dollar Bill in Currency Holder

                            </p>
                        <p class="card-text text-muted">$5.95</p>
                        <a href="https://www.amazon.com/gp/product/B00VDA26TY/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B00VDA26TY&linkId=d27963155cf04d8be26b9b45657b5ab3">
                        <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
                    </a>
                        </div>
                    
                    </div>
            <div class="card">
                    <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51WaY1BLs8L._SX679_.jpg" alt="Card image cap"> 
                    <div class="card-body">           
                        <p class="card-text">Gaming Mouse, Programmable 7 Buttons, Ergonomic LED Backlit</p>
                        <p class="card-text text-muted">$15.99 </p>
                        <a href="https://www.amazon.com/gp/product/B01M2U8JU9/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B01M2U8JU9&linkId=13676dac60d06ed36e63ba754a65f6a8">
                            
                            <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
                    </a>
                        </div>
                    
                    </div>
                <div class="card">
                        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/81paTIxmuPL._SX679_.jpg" style="width: 290px; height: 160px" alt="Card image cap"> 
                        <div class="card-body">           
                            <p class="card-text"> OnFire Gaming Satellite World Map Mouse Pad with Edge Stitching XL

                                </p>
                            <p class="card-text text-muted">$14.95</p>
                                <a href="https://www.amazon.com/gp/product/B00MX92IUQ/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B00MX92IUQ&linkId=6db3eada6796e234b2963dc786250052">
                                <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
                        </a>
                            </div>
                        
                        </div>
                    </div>
                    <div class="card-group">
                        <div class="card">
                        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/61OvsQllGBL._SX679_.jpg" alt="Card image cap"> 
                        <div class="card-body">           
                            <p class="card-text">Gaming Mouse, Ergonomic USB Wired Optical Mouse Mice with 7 Colors LED Backlight
                                </p>
                            <p class="card-text text-muted">$9.99 </p>

                            <a href="https://www.amazon.com/gp/product/B00WEVLGEW/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B00WEVLGEW&linkId=213f4179727bd97e578a19edfe03d007">
                                <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
  
                            </a>
                            </div>
                        
                        </div>
                <div class="card">
                        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/61caej6XayL._SX679_.jpg" alt="Card image cap"> 
                        <div class="card-body">           
                            <p class="card-text">Gaming Mouse, Ergonomic USB Wired Optical Mouse Mice with 7 Colors LED Backlight
                                </p>
                            <p class="card-text text-muted">$10.99
                                </p>
                                <a href="https://www.amazon.com/gp/product/B07K19ZGNX/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B07K19ZGNX&linkId=0148f4aa4d4e3a34a3cfa92b29c7c03c">
                                <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
                            </a>
                            </div>
                        
                        </div>
                    <div class="card">
                        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/61ubN0PCU0L._SX679_.jpg">
                            <div class="card-body">           
                                <p class="card-text">RGB Gaming Mouse, Ergonomic USB Wired Optical Mouse Mice with 7 Colors LED Backlight</p>
                                <p class="card-text text-muted">$9.99</p>
                                <a href="https://www.amazon.com/gp/product/B00WEVLE30/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B00WEVLE30&linkId=2b64fb1bee7d0bbe11e034b4902d0452">
                                    <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
      
                                </a>
                                </div>
                            
                            </div>
                              </div>
        <div class="card-group">
                <div class="card">
                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/61ClHJfEMkL._SX679_.jpg" alt="Card image cap"> 
                <div class="card-body">           
                  <p class="card-text">Gaming Mouse, Ergonomic USB Wired Optical Mouse Mice with 7 Colors LED Backlight RED
                    </p>
                  <p class="card-text text-muted">$10.99 </p>
                    <a href="https://www.amazon.com/gp/product/B07JZLSJK5/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B07JZLSJK5&linkId=5da03cfcd39ffce85ca11d87fc37d8fb">

                  <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
                    </a>
                  </div>
              
                </div>

        <div class="card">
                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/71dJ8uBtFrL._SX679_.jpg" alt="Card image cap"> 
                <div class="card-body">           
                    <p class="card-text"> Mechanical Gaming Keyboard, Programmable RGB Backlit, Blue Switch -Tactile & Clicky
                        </p>
                    <p class="card-text text-muted">$49.99</p>
                        <a href="https://www.amazon.com/gp/product/B01FXDHOKC/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B01FXDHOKC&linkId=df05ea66556938b7c0f23a64b5ca9493">
                    <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
                    
                    </a>
                    </div>
                
                </div>
            <div class="card">
                    <span class="imgspan" style="background-color: orangered">-69%</span>
                    
                    <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/71CcvBUNINL._SX679_.jpg" alt="Card image cap"> 
                    <div class="card-body">           
                        <p class="card-text">LED Backlit Mechanical Gaming Keyboard, Low Profile 87 Key USB Keyboard with Quiet Cherry Brown Switches for PC Gamer</p>
                        <p class="card-text text-muted">$52.99 </p>
                    
                        <a href="https://www.amazon.com/gp/product/B07DRSVBG6/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B07DRSVBG6&linkId=68e1d762e5bb8c4d4fbd0ddd070a4610">
                            <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
            
                        </a>
                </div>
            
            </div>
        </div>

<div class="card-group">
        <div class="card">
        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/61t%2BpJiPBsL._SX679_.jpg" style="height: 210px" alt="Card image cap"> 
        <div class="card-body">           
            <p class="card-text"> 	
                    AutoFull Gaming Chair - Video Game Chairs Mesh Ergonomic High Back Racing Style Computer Chair for Adults with Lumbar Support (1 Pack)

            </p>
            <br><br>
            <p class="card-text text-muted">$199.99</p>
            <br>
            <a href="https://www.amazon.com/gp/product/B07C78594J/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B07C78594J&linkId=c2f9daed436c00193cfc5d03b48b10c2">
            <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>  
            </a>
            </div>
        </div>
<div class="card">
        <span class="imgspan" style="background-color: orangered">-5%</span>
    
        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/91UPkwqakqL._SX679_.jpg" alt="Card image cap"> 
        <div class="card-body">           
        <p class="card-text">ASUS VG245H 24” Full HD 1080p 1ms Dual HDMI Eye Care Console Gaming Monitor with FreeSync/Adaptive Sync</p>
        <p class="card-text" style="color: red">Arrives before Christmas</p>
        <p class="card-text text-muted"><strike>$199.00</strike><br>$189.19</p>
        
        </div>
    
        </div>
        <div class="card">
        <span class="imgspan" style="background-color: red">Hot</span>
    
        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/81K4IHoxEHL._SX679_.jpg" alt="Card image cap"> 
        <div class="card-body">           
            <p class="card-text">NETGEAR Nighthawk Pro Gaming XR500 WiFi Router with 4 Ethernet Ports and Wireless speeds up to 2.6 Gbps, AC2600, Optimized for Low ping</p>
            <p class="card-text" style="color: red">Arrives before Christmas</p>
            <p class="card-text text-muted">$299.99</p>    
    
            
            </div>
        
        </div>
        </div>


    <div class="card-group">
        <div class="card">
        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/71ZPkbp3WNL._SX679_.jpg" alt="Card image cap"> 
        <div class="card-body">           
            <p class="card-text">Rainbow Backlit Wired Gaming Keyboard Mouse Combo (White)</p>
            <p class="card-text text-muted">$49.99</p>
            <a href="https://www.amazon.com/gp/product/B00W3E6YV0/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B00W3E6YV0&linkId=168d331ef4fb195e27aed7095b55b0f3">
                <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
            
            </a>
            
            </div>
        
        </div>
<div class="card">
        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/71bGrN5SqGL._SX679_.jpg" alt="Card image cap"> 
        <div class="card-body">           
            <p class="card-text">Wired Mouse, 4 Adjustable DPI Levels, 800/1200/2400/3200DPI</p>
            <p class="card-text text-muted">$9.99</p>
            <a href="https://www.amazon.com/gp/product/B00KKAQYXM/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B00KKAQYXM&linkId=aca03eb74347a8b1da1bd64cd9a3eb5e">
            <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
            </a>
            </div>
        
        </div>
    <div class="card">
            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/61x06nE8T8L._SX679_.jpg" alt="Card image cap"> 
            <div class="card-body">           
                <p class="card-text">2.4G Slim Wireless Mouse with Nano Receiver Less Noise, White and Gold</p>
                <p class="card-text text-muted">$9.95</p>
                <a href="https://www.amazon.com/gp/product/B01M6XU1M5/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B01M6XU1M5&linkId=b01fbd19994cd25b7a719b44d473f5e1">
                <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
    
                </a>
                </div>
            
            </div>
        </div>
        <div class="card-group">
            <div class="card">
            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/71a0JtxYQKL._SX679_.jpg" alt="Card image cap"> 
            <div class="card-body">           
                <p class="card-text">Deep Red Dragon Gaming Mouse Pad with Edge Stitching XL

                    </p>
                <p class="card-text text-muted">$14.95</p>
                
                <a href="https://www.amazon.com/gp/product/B00MX928UG/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B00MX928UG&linkId=0714c690ea80d6a375439b438756fb19">
               <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
               </a>

                </div>
            
            </div>
    <div class="card">
            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/61Zj19wozfL._SX679_.jpg" alt="Card image cap"> 
            <div class="card-body">           
                <p class="card-text">2B Peach Skin Silicon Gel 3D Mouse Pad -Ergonomic Mouse pad with Wrist Support
                    </p>
                <p class="card-text text-muted">$19.99 </p>
                    
                <a href="https://www.amazon.com/gp/product/B0788KHZ8S/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B0788KHZ8S&linkId=a0f68811b35a59bedfe6dabac40d8949">
                <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>

                </a>
                </div>

                    </div>

                <div class="card">
                        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/61erolOXpAL._SX679_.jpg" alt="Card image cap"> 
                        <div class="card-body">           
                            <p class="card-text">Extended Gaming Mouse Pad-Rubber Base with Anti-Fray</p>
                            <p class="card-text text-muted">$18.99</p>
                            <a href="https://www.amazon.com/gp/product/B07FKGVTKX/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B07FKGVTKX&linkId=2a15aacc2d20361b6d458be57f2044d4">
                            <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
    
                            </a>
                            </div>
                        
                        </div>
                  </div>
        <div class="card-group">
            <div class="card">
            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/61L2BA31pIL._SX679_.jpg" alt="Card image cap"> 
            <div class="card-body">           
                <p class="card-text"> Stereo Gaming Headset for PS4, PC, Xbox One Controller, Noise Cancelling Over Ear Headphones Mic, LED Light and Bass Surround
                </p>                
                <p class="card-text text-muted"><s>$75.99</s><br>$24.64</p>

            <a href="https://www.amazon.com/gp/product/B01MA5XZSG/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B01MA5XZSG&linkId=582aa8086a3f1e054aa903b2b6643335">
                <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
            </a>                
                </div>
            
            </div>
    <div class="card">
            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/81p8Q9FoaPL._SX679_.jpg" alt="Card image cap"> 
            <div class="card-body">           
                <p class="card-text">World of Warcraft Extended Size Custom Professional Gaming Mouse Pad - Anti Slip Rubber Base
                </p>
                <p class="card-text text-muted">$10.99</p>
                <a href="https://www.amazon.com/gp/product/B074M3C1PY/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B074M3C1PY&linkId=09611661bd8ffbb8230336af4e833e53">
                <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
                   
                </a> 
                </div>
            
            </div>
        <div class="card">
                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/71KIFAumKRL._SX679_.jpg" alt="Card image cap"> 
                <div class="card-body">           
                    <p class="card-text">Loungefly Maleficent Faux Leather Mini Backpack Standard
                    </p>
                    <p class="card-text text-muted">$64.00</p>
                    <a href="https://www.amazon.com/gp/product/B07DNK2WD5/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B07DNK2WD5&linkId=9233222f99652029bb00bac09b70e981">
                    <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
                    </a>
                    </div>
                
                </div>
            </div>
    <div class="card-group">
        <div class="card">
        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/61miGtxqFxL._AC_.jpg" style="height: 210px" alt="Card image cap"> 
        <div class="card-body">           
            <p class="card-text"> 	
                    Xbox Wireless Controller - Minecraft Creeper by Microsoft
            </p>
            <br><br>
            <p class="card-text text-muted">$53.13</p>
            <br>
            <a href="https://www.amazon.com/gp/product/B074W9J8HZ/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B074W9J8HZ&linkId=52b5b1246c6d2408d0af4dbc89518ef7">
            <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>  
            </a>
            </div>
        
        </div>
<div class="card">
        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/81DhgPH80dL._SX679_.jpg" alt="Card image cap"> 
        <div class="card-body">           
            <p class="card-text">Stereo Gaming Headset for PS4, PC, Xbox One,Professional 3.5mm Noise Isolation Over Ear Headphones with Mic
            </p>
            <p class="card-text text-muted">$28.77</p>
            <a href="https://www.amazon.com/gp/product/B079DLTTZB/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B079DLTTZB&linkId=7f96b6b8f2c590e1a6e2b2e27ffcd647">
            <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
                
            </a>
            </div>
        
        </div>
    <div class="card">
            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/71LFEhtdm4L._SY679_.jpg" style="width: 210px" alt="Card image cap"> 
            <div class="card-body">           
                <p class="card-text">Premium Gaming Racing Chair Executive Office Desk Task Computer Home Chair
                </p>
                <p class="card-text text-muted">$248.00</p>

                <a href="https://www.amazon.com/gp/product/B07C8LB1WM/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B07C8LB1WM&linkId=5542154f1c2408acb2e4fcc0fb0d5061">
                <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
                </a>
                </div>
            
            </div>
        </div>

      <!--cards ends-->            
</div> 



      <!--footer-->
  <hr class="col-lg-8">
</section>

  <footer class="pt-4 my-md-5 pt-md-5 border-top footer">
      <div class="row">
        <div class="col-12 col-md">
          <img class="mb-2" src="../img/geek maniacs logo.png" alt="gm-logo" style="margin-left: 35%">
          <small class="d-block mb-3 text-muted" style="margin-left: 35%">Geek Mane 2018 &copy;<br>All rights reserved</small>
        </div>
        <div class="col-4 col-md">
          <ul class="list-unstyled">
            
            <li><a href="#"><small>Blog</small></a></li>
            <li><a href="#"><small>Disclaimer</small></a></li>
            <li><a href="#"><small>Contact</small></a></li>
            <li><a href="#"><small>Home</small></a></li>
           
         
          </ul>
        </div>
        <div class="col-4 col-md">

            <ul class="list-unstyled">

                <i class="fab fa-facebook-f"></i>
                <a href="https://www.facebook.com/Geek-Mane-2275025279441289/"><small>Facebook</small></a>
                <br>            
                <i class="fab fa-pinterest"></i> 
                <a href="https://www.pinterest.es/geekmaniac/lets-geek-it/"><small>Pinterest</small></a>
                <br>
                <i class="fab fa-tumblr"></i>
                <a href="http://geekmane.tk/"><small>Tumblr</small></a>                         
              </ul>
        </div>
        <div class="col-3 col-md">
                <img src="../img/lgo2.png">
            </div>

        <div class="col-4 col-md">
          <ul class="list-unstyled">
            <p class="pull-xs-right">
              <a href="#"><i class="fas fa-arrow-up"></i></a>
              <p classs="text-muted" style="color: black">Back to top</p>
          </p>  
          <!--style="color: red"-->
          </ul>
        </div>
        
      </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
  </body>
</html>






