 
<!doctype html>
<html lang="en">
  <head>
    <title>Home & Office</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--font-->
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Kanit|Russo+One" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  </head>
    <body>
    
        <br>

<div class="col-sm-2" style="margin-left: 8%;">
    <a href="../index.html">
        <i class="fas fa-arrow-left"></i>
        <small style="font-size: 20px">Back</small>
    </a>
</div>

    <div class="col-lg-12 text-center">
        <img src="../img/home office.png">
        <br>
        <div class="container">
        <p class="text-muted description">
                
            Decorate the walls of your house with the best posters, pillows, mugs & more ...
        </p>
    </div>
</div>
<br>

<div class="container">
    
    
        
  <div class="card-group">

    <div class="card">            
        <br>

        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/61h186AyqJL._SX679_.jpg" alt="Card image cap"> 
        <div class="card-body">           
          <p class="card-text">I'm An Engineer Good With Math Coffee Mug
            </p>
          <p class="card-text text-muted"><s>$14.99</s><br>$11.99</p>
          <a href="https://www.amazon.com/gp/product/B00SQGQILA/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B00SQGQILA&linkId=4e72ba5f723cd61a6db63a7f5d27d070">
          <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
        </a>
          
          </div>
      
        </div>
    <div class="card">

            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/61qy0z9%2BpFL._SX679_.jpg" alt="Card image cap"> 
            <div class="card-body">           
                <p class="card-text">	
                    Engineering Gifts Engineer Nutritional Facts Mug
                    </p>
                <p class="card-text text-muted"><s>$19.99 </s><br>$13.99</p>
            <a href="https://www.amazon.com/gp/product/B0196WNB12/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B0196WNB12&linkId=74d4d408e8928d68b722cffbce35a85c">
                <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
            </a>
                </div>
            
            </div>
    <div class="card">
            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/61H0b6dFoXL._SX679_.jpg" alt="Card image cap"> 
            <div class="card-body">           
                <p class="card-text"> Funny Engineer Coffee Mug 14 Oz   
                    </p>
                    <br>
                <p class="card-text text-muted">$14.99</p>
                <a href="https://www.amazon.com/gp/product/B01JUKNDG8/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B01JUKNDG8&linkId=219c8e1ec7767bc8e33e692ff1ed6ad2">
                <br>
                    <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>

                </a>
                </div>
            
            </div>
      </div>
<div class="card-group">

    <div class="card">
        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/91bl-i7HZXL._SX679_.jpg" alt="Card image cap"> 
        <div class="card-body">           
            <p class="card-text">League of Legends Framed 3D Lenticular Poster
                </p>
            <p class="card-text text-muted">$24.99</p>
            <a href="https://www.amazon.com/gp/product/B07KZG5HQL/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B07KZG5HQL&linkId=8869e3301e807d86af38fb3005c9e190">
                <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
  
            </a>
            </div>
        
        </div>
    <div class="card">
            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/61LfUZpAhmL._SX679_.jpg" alt="Card image cap"> 
            <div class="card-body">           
                <p class="card-text">Modern Paintings Wall Art League of Legends
                    </p>
                <p class="card-text text-muted">$42.00</p>
                <a href="https://www.amazon.com/gp/product/B07KZG5HQL/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B07KZG5HQL&linkId=4c773de4ca98dd72605ff176848a2dd2">
                    <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>

                </a>
                
                </div>
            
            </div>
    <div class="card">
            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/71mhG%2BItIYL._SX679_.jpg" style="width: 210px;" alt="Card image cap"> 
            <div class="card-body">           
                <br>
                <p class="card-text">Ehome HD FORTNITE Set of 3 Canvas Art Print 
                    </p>
                <p class="card-text text-muted">$11.00</p>
                <a href="https://www.amazon.com/gp/product/B07H72J211/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B07H72J211&linkId=4ec3198a2dcad1166a674a53ec41f45c">
                    <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
                </a>
                </div>
            
            </div>
        </div>
<div class="card-group">

        <div class="card">
            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/41dKLFux4gL.jpg" alt="Card image cap"> 
            <div class="card-body">           
                <p class="card-text">Fort-nite Game Logo 3D LED
                    </p>
                <p class="card-text text-muted">$18.88</p>
                <a href="https://www.amazon.com/gp/product/B07GNRB4VY/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B07GNRB4VY&linkId=ed240ba2cd4144231e680f1c401d3f71">
                
                    <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>

          
                </a>
                </div>
            
            </div>
        <div class="card">
                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/71PMwedAm7L._SX679_.jpg" alt="Card image cap"> 
                <div class="card-body">           
                    <p class="card-text">Fortnite Poster Laminated Holographic 3D Edition 
                        </p>
                    <p class="card-text text-muted">$25.99</p>
                    <a href="https://www.amazon.com/gp/product/B07JPHJ6CN/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B07JPHJ6CN&linkId=1b666f06958bb228fe4d1549c22f926d">
                    <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>

                    </a>
                    </div>
                
                </div>
        <div class="card">
                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51PKx%2B68tdL.jpg" alt="Card image cap"> 
                <div class="card-body">           
                    <p class="card-text"> God Of war kratos print canvas decoration 5 pieces

                        </p>
                    <p class="card-text text-muted">$69.00</p>
                    <a href="https://www.amazon.com/gp/product/B01EKS85HC/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B01EKS85HC&linkId=d04c47d7fce2bf7e5e3b2a472e345651">
                    
                        <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>

                    </a>
                    </div>
                
                </div>
            </div>
<div class="card-group">

        <div class="card">
            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51f7d%2BO-H2L._SY498_BO1,204,203,200_.jpg" alt="Card image cap"> 
            <div class="card-body">           
                <p class="card-text">2019 Destiny Wall Calendar
                    </p>
                <p class="card-text text-muted">$14.99</p>
                <a href="https://www.amazon.com/gp/product/1438861389/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=1438861389&linkId=22825a9db904a6f15960acb0a05f6cf5">
                <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>

                </a>
                
                </div>
            
            </div>
        <div class="card">
                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51JMOUpi0tL._SY497_BO1,204,203,200_.jpg" alt="Card image cap"> 
                <div class="card-body">           
                    <p class="card-text">Super Nintendo Retro Art 2019 Wall Calendar
                        </p>
                    <p class="card-text text-muted">$11.48</p>
                    <a href="https://www.amazon.com/gp/product/1419731033/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=1419731033&linkId=963296bff37feae3e0d378f646cb0b72">
                
                        <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>


                    </a>
                    </div>
                
                </div>
        <div class="card">
                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/5122wZuQ%2BhL.jpg" alt="Card image cap"> 
                <div class="card-body">           
                    <p class="card-text">God Of War - Gaming Poster
                        </p>
                    <p class="card-text text-muted">$11.99</p>
                    <a href="https://www.amazon.com/gp/product/B0798Z1PRT/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B0798Z1PRT&linkId=1f531476845758c6b9b8ff9f2640b772">
                    <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>

                    </a>
                    </div>
                
                </div>
            </div>
<div class="card-group">

        <div class="card">
            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51gZ024qLFL._SY498_BO1,204,203,200_.jpg"  alt="Card image cap"> 
            <div class="card-body">           
                <p class="card-text"> FORTNITE (OFFICIAL): 2019 Calendar
                    </p>
                <p class="card-text text-muted">$18.06</p>
                <a href="https://www.amazon.com/gp/product/031645611X/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=031645611X&linkId=103446dfc12388a3df3ebcb02e1f0afe">
            
                    <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>

                </a>
                </div>
            
            </div>
        <div class="card">

                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/81rGfk7MZdL._SX679_.jpg" alt="Card image cap"> 
                <div class="card-body">           
                    <p class="card-text">2019 Minecraft Wall Calendar 16 Month

                        </p>
                    <p class="card-text text-muted">$7.26 </p>
                    <a href="https://www.amazon.com/gp/product/1438867638/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=1438867638&linkId=861323519903c17cc1091dd2223bdee2">
                        <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>

                    </a>
                    </div>
                
                </div>
        <div class="card">
                <span class="imgspan" style="background-color: purple">Best</span>

                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/61wd5578vUL._SY879_.jpg"  alt="Card image cap"> 
                <div class="card-body">           
                    <p class="card-text"> Fortnite Plush Stuffed Toy Doll, Figures Video Game Alpaca

                        </p>
                    <p class="card-text text-muted">$13.84</p>
                    <a href="https://www.amazon.com/gp/product/B07HGKP2MT/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B07HGKP2MT&linkId=c1e8706536798187c5cc1d7ceca96dae">
                        <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>
 
                    </a>
                    
                    </div>
                
                </div>
            </div>

<div class="card-group">

    <div class="card">
        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/61LECzQkQEL._SX679_.jpg"  alt="Card image cap"> 
        <div class="card-body">           
            <p class="card-text"> Cowboy Bebop Crew Ceramic Beer Stein

                </p>
            <p class="card-text text-muted">$19.95</p>
                <a href="https://www.amazon.com/gp/product/B0192ATR7K/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B0192ATR7K&linkId=6d606811b087ea9596fd028c81ad9ab7">
                <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>

            </a>
            </div>
        
        </div>
    <div class="card">

            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51iLh54AnfL._SX679_.jpg" alt="Card image cap"> 
            <div class="card-body">           
                <p class="card-text">See You Space Cowboy Mug 11 oz

                    </p>
                <p class="card-text text-muted">$13.49</p>
                    <a href="https://www.amazon.com/gp/product/B07L881526/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B07L881526&linkId=834053fbebda772524fd91bde390ac62">
                <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>

                </a>
                </div>
            
            </div>
    <div class="card">

            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/61WbLpij2iL._SX679_.jpg"  alt="Card image cap"> 
            <div class="card-body">           
                <p class="card-text"> Anime Mug Video Game Mug Anime Gifts

                    </p>
                <p class="card-text text-muted">$13.99</p>
                    <a href="https://www.amazon.com/gp/product/B07CV7GJ2N/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=healthylobby-20&creative=9325&linkCode=as2&creativeASIN=B07CV7GJ2N&linkId=728fe451cc13260f65da6b9240c65d2c">
                <button data-hover="BUY NOW"><div><i class="fas fa-shopping-cart"></i></div></button>

                </a>
                
                </div>
            
            </div>
        </div>

            <!--

<div class="card-group">

    <div class="card">
        <img class="card-img-top" src="" alt="Card image cap"> 
        <div class="card-body">           
          <p class="card-text"></p>
          <p class="card-text text-muted"></p>
          
          </div>
      
        </div>
    <div class="card">
            <img class="card-img-top" src="" alt="Card image cap"> 
            <div class="card-body">           
                <p class="card-text"></p>
                <p class="card-text text-muted"></p>
                
                </div>
            
            </div>
    <div class="card">
            <img class="card-img-top" src="" alt="Card image cap"> 
            <div class="card-body">           
                <p class="card-text"></p>
                <p class="card-text text-muted"></p>
                
                </div>
            
            </div>
      </div>
-->



</div>
 
 <!--footer-->
 <hr class="col-lg-8">

 <footer class="pt-4 my-md-5 pt-md-5 border-top footer">
     <div class="row">
       <div class="col-12 col-md">
         <img class="mb-2" src="../img/geek maniacs logo.png" alt="gm-logo" style="margin-left: 35%">
         <small class="d-block mb-3 text-muted" style="margin-left: 35%">Geek Mane 2018 &copy;<br>All rights reserved</small>
       </div>
       <div class="col-4 col-md">
         <ul class="list-unstyled">
           
           <li><a href="#"><small>Blog</small></a></li>
           <li><a href="#"><small>Disclaimer</small></a></li>
           <li><a href="#"><small>Contact</small></a></li>
           <li><a href="#"><small>Home</small></a></li>
          
        
         </ul>
       </div>
       <div class="col-4 col-md">


        <ul class="list-unstyled">

            <i class="fab fa-facebook-f"></i>
            <a href="https://www.facebook.com/Geek-Mane-2275025279441289/"><small>Facebook</small></a>
            <br>            
            <i class="fab fa-pinterest"></i> 
            <a href="https://www.pinterest.es/geekmaniac/lets-geek-it/"><small>Pinterest</small></a>
            <br>
            <i class="fab fa-tumblr"></i>
            <a href="http://geekmane.tk/"><small>Tumblr</small></a>                         
          </ul>
       </div>

             <div class="col-3 col-md">
                    <img src="../img/lgo2.png">
                </div>
       <div class="col-4 col-md">
         <ul class="list-unstyled">
           <p class="pull-xs-right">
             <a href="#"><i class="fas fa-arrow-up"></i></a>
             <p classs="text-muted" style="color: black">Back to top</p>
         </p>  
         <!--style="color: red"-->
         </ul>
       </div>
       
     </div>
   </footer>
   
   <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
   <script src="js/script.js"></script>
 </body>
</html>